@model PersonUpdateRequest
@{
    ViewBag.Title = "Edit Person";
}
<a asp-controller="Person" asp-action="Index">Back to Person List</a>
<h2>Edit Person</h2>
<div class="center-box">
    <form asp-controller="Person" asp-action="Edit" method="post">
        <div class="form-field flex">
            @*PersonID*@
            <input asp-for=PersonID type="hidden" />
            @*PersonName*@
            <div class="w-25">
                <label asp-for="PersonName" class="form-label pt">Person Name</label>
            </div>
            <div class="flex-1">
                <input asp-for="PersonName" class="form-input" />
                <span asp-validation-for="PersonName" class="text-red"></span>
            </div>
        </div>
        <div class="form-field flex">
            @*Email*@
            <div class="w-25">
                <label asp-for="Email" class="form-label pt">Email</label>
            </div>
            <div class="flex-1">
                <input asp-for="Email" class="form-input" />
                <span asp-validation-for="Email" class="text-red"></span>
            </div>
        </div>
        <div class="form-field flex">
            @*DateOfBirth*@
            <div class="w-25">
                <label asp-for="DateOfBirth" class="form-label pt">Date Of Birth</label>
            </div>
            <div class="flex-1">
                <input asp-for="DateOfBirth" class="form-input" />
                <span asp-validation-for="DateOfBirth" class="text-red"></span>
            </div>
        </div>
        <div class="form-field flex">
            @*Gender*@
            <div class="w-25">
                <label class="form-label pt">Gender</label>
            </div>
            <div class="flex-1">
                @{
                    string[] genders = (string[])Enum.GetNames(typeof(GenderOptions));
                }
                @foreach (string gender in genders)
                {
                    <input asp-for="Gender" class="ml" type="radio" value="@gender" />
                    <label class="form-label" for="Gender">@gender</label>
                }
                <span asp-validation-for="Gender" class="text-red"></span>
            </div>
        </div>
        <div class="form-field flex">
            @*Country*@
            <div class="w-25">
                <label asp-for="CountryID" class="form-label pt">Country</label>
            </div>
            <div class="flex-1">
                <select class="form-input" asp-for="CountryID" asp-items="@ViewBag.Countries">
                </select>
                <span asp-validation-for="CountryID" class="text-red"></span>
            </div>
        </div>
        <div class="form-field flex">
            @*Address*@
            <div class="w-25">
                <label asp-for="Address" class="form-label pt">Address</label>
            </div>
            <div class="flex-1">
                <textarea asp-for="Address" class="form-input"></textarea>
                <span asp-validation-for="Address" class="text-red"></span>
            </div>
        </div>
        <div class="form-field flex">
            @*ReceiveNewsLetters*@
            <div class="w-25">
            </div>
            <div class="flex-1">
                <label asp-for="ReceiveNewsLetters" class="form-label pt">Receive News Letters</label>
                <input asp-for="ReceiveNewsLetters" class="form-input" />
                <span asp-validation-for="ReceiveNewsLetters" class="text-red"></span>
            </div>
        </div>
        @*Submit*@
        <div class="form-field flex">
            <div class="w-25"></div>
            <div class="flex-1">
                <button class="button button-green-back" type="submit">Update</button>
                <div asp-validation-summary="All" class="text-red"></div>
                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string err in ViewBag.Errors)
                            {
                                <li class="ml">@err</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </form>
</div>
@section scripts {
    @*为实现客户端验证功能，需要按顺序导入以下模块，配合asp.net core的tag helper实现客户端验证功能*@
    @*客户端会下载src指定的脚本地址，然后通过asp-fallback-test指定的对象判断是否存在，存在证明加载完成，若不存在则从本服务器wwwroot目录下载脚本*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" asp-fallback-test="windows.jQuery.validator.unobtrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}